.paragraphs__container{
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.1rem;
    letter-spacing: 1.1px;
    color: var(--text-color-3);
    background-color: var(--bg-color-2);
    padding: 10px;
    border-radius: 10px;
}