.game {
    aspect-ratio: 16/10;
    width: 100%;
    background-color: var(--bg-color-2);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    time {
        color: var(--primary-color);
        font-weight: bold;
        letter-spacing: 1.1px;
    }

    @media (max-width:660px) {
        flex: 1;
    }
}

.game__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.game__fc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;

    img {
        width: 40px;
    }

    figcaption {
        font-weight: 600;
        width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.game__champeonship {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: var(--text-color-3);
}

.game__link {
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;

    &:hover {
        opacity: 0.8;
    }

    &:hover>i {
        opacity: 1;
    }

    i {
        font-size: 1.5rem;
        transform: translate(-5px, -5px);
        opacity: 0;
        color: var(--primary-color);
    }
}