.allChannels{
        h1{
        margin-bottom: 30px;
        font-size: 1.5rem;
    }
}
.allChannels__container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;

    @media (max-width:1650px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width:1325px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width:1025px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width:660px) {
        display: flex;
        flex-wrap: wrap;

    }
}