.match__container{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px auto;
    background-color: var(--bg-color-2);
    border-radius: 5px;
}

.match__title{
    padding: 10px 0 0 10px;
    h1{
        color: var(--text-color-1);
        letter-spacing: 1.1;
        font-size: clamp(1rem, 6vw, 2rem);
    }
    p{
        color: var(--primary-color);
        font-weight: 500;
    }
}

.match__social{
    border-top: 1px solid var(--border-color-1);
    display: flex;
    gap: 5px;
    margin-top: 10px;
    padding-top: 10px;
    a{
        font-size: 1.3rem;
        padding: 8px;
        background-color: var(--bg-color-3);
        border-radius: 5px;
    }
}

.match__info{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
     h2{
        color: var(--text-color-2);
    }
}

.match__infolist{
   
    li{
        margin-left: 20px;
        color: var(--text-color-3);
        font-size: 1.1rem;
        font-weight: 400;
    }
}