*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --primary-color:  #7bd456;
  --bg-color-1:  #111111;
  --bg-color-2: #222222;
  --bg-color-3: #3d3d3d;
  --text-color-1: #fefefe;
  --text-color-2: #cfcfcf;
  --text-color-3: #9f9f9f;
  --border-color-1:#9f9f9f80;
  --live-color:#ff2d2d;
}

body{
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
}

a{
  text-decoration: none;
  color: var(--text-color-1);
}

.swiper {
    width: 95%;
    margin: auto;
}

.swiper-slide {

    img {
        width: 100%;
    }
}

.live{
  display: inline-block;
  color: var(--live-color);
  font-weight: bold;
  animation: inlive 1s ease infinite;
}

@keyframes inlive {
  0%{
    opacity: 1;
  }
  20%{
    opacity: 0.6;
  }
  40%{
    opacity: 0.4;
  }
  60%{
    opacity: 0.6;
  }
  80%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}