.warp{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.warp__text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-color-1);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.1px;
}

.warp__link{
    text-decoration: none;
    img{
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
}

.warp__emphasys{
    color: var(--primary-color);
}

.warp__italic{
   font-style: italic;
}

@media (max-width:485px){
    .warp__text{
        font-size: 2.6vw;
        gap: 5px;
    }

    .warp__link img{
        width: 40px;
        height: 40px;
    }
}