.search{
    min-height: calc(100dvh - 142px);
    
}
.search__container{

    h1{
        font-size: 1.5rem;
    }

    h2{
        text-align: start;
        margin-left: 3%;
        margin-top: 30px;
    }
}



.search__results {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;

    @media (max-width:1650px){
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width:1325px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width:1025px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:660px){
        display: flex;
        flex-wrap: wrap;

    }

}

.search__notFound{
    height: calc(100dvh - 142px);
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        color: var(--text-color-3);
        font-size: 1.3rem;
        text-align: center;
    }
}
